@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fcfcfc;
}
@font-face {
  font-family: "intertight";
  src: url("./assets/fonts/InterTight-VariableFont_wght.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: "intertight", system-ui, Avenir, Helvetica, Arial, sans-serif;
}
.hover-lift-btn {
  position: relative;
  display: inline-block;
  padding: 1.1rem 2rem;
  border-radius: 9999px;
  font-weight: 500;
  overflow: hidden;
  cursor: pointer;
  transition: background 0.3s ease;
}

.hover-text-wrapper {
  display: block;
  background-color: inherit;
  position: relative;
  overflow: hidden;
}

.hover-text-wrapper .top,
.hover-text-wrapper .bottom {
  display: block;
  transition: transform 0.4s ease;
  background-color: inherit;
  color: white;
}

.hover-text-wrapper .top {
  transform: translateY(0%);
}

.hover-text-wrapper .bottom {
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateY(0%);
}

.hover-lift-btn:hover .top {
  transform: translateY(-100%);
}

.hover-lift-btn:hover .bottom {
  transform: translateY(-100%);
}
